# Ignore actual environment file
.env

# Ignore virtual environments
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code settings (optional)
.vscode/
